body{
  margin: 0vw;
}

section{

font-size: 2vh;
margin: 0 vw;
list-style-type: none;
text-decoration: none;
font-family: monospace;
}

li a{
  font-size: 3vh;
  list-style-type: none
  text-decoration: none;
  font-family: monospace;

}

h1{font-size: 7vh;
  text-align: center;
  color: rgb(9, 132, 12)
}

h2,h3{
  text-align: center;
    font-size: 4vh;
    color: rgb(90, 138, 124);
}
p{
  text-align: center;

}
h4{
font-size: 1.5vh;

}
h5{
  font-size: 4vh;
text-align: center;
color: rgb(68, 159, 214);

}
h6{
  font-size: 4vh;
  text-align: center;
  color: rgb(90, 138, 124);


}

div {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  width: 100%
  padding: 20px;
}

img {
  width: 100%;
  padding: 20px;
  image-orientation: center;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.us {
  margin-top: 1px;
  padding: 20px;
  height:100vw;

}
