
body {
  color: rgb(109,216,0);
  font-family: arial;
  margin: 0px;
  width: 100%;
}
h1{font-size: 6vh;
  text-align: center;
  color: rgb(2, 89, 156);
}

h2,h3,h4,h5{
  text-align: center;
    font-size: 4vh;
    color: rgb(68, 159, 214);
}
